<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Aristote{% endblock %}</title>
        {% block stylesheets %}
        {% stylesheets filter='less'
            '@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle.less'
            '@SinsTransactionBundle/Resources/less/main.less'
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="{{ path('transactions') }}">Aristote</a>
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li><a href="#">Bla1</a></li>
                            <li><a href="#">Bla2</a></li>
                            <li><a href="#">Bla3</a></li>
                            <li><a href="#">Bla4</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container main">
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% javascripts output="assets/sys-javascripts.js"
                '@SinsTransactionBundle/Resources/public/js/jquery-1.7.1.min.js'
                '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-collapse.js'
                '@SinsTransactionBundle/Resources/public/js/tablesorter.min.js'
                '@SinsTransactionBundle/Resources/public/js/application.js'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        </div>
    </body>
</html>
